/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */


.ToTheLeft
{
	margin-left:220px;	
}
.EventButton
{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #4C566C;
}
.DateLabel
{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	color: #4C566C;
	width:200px;
}
.Grey
{
	background:#EDEBEB;
}
.DarkGrey
{
	background:#D1CDCE;
}

/*To make image looks like button*/
.button
{
	border:solid 1px;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));	
	width: 40px;
	height: 30px;
}

.StarButton
{
	border:solid 1px;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));	
	width: 30px;
	height: 30px;
}

.button_pressed
{
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#C4C2C2),to(#E3E3E3));	
	width: 40px;
	height: 30px;
}

.Panel
{
	background:white;	
	height:480px;
	width:320px;
	margin:0 auto;
}
.NewPanel
{
	background:#FFF6E0;
}
.EachPanelEnd
{
	background:#FCBD6A;
}

.DetailPanel
{
	background-color: white;
	border: 1px solid #999;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	font-size: 16px;
	margin: 9px;
	padding: 12px 14px 10px 14px;
	
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #4C566C;
}

.EventDetailsPanel
{
	background:url("img/pinstripes.png");
	height:480px;
	width:320px;
	margin:0 auto;
}

.footer
{
	background:orange;	
	height:200px;
	width:320px;
}

.SettingPanel
{
	background:red;	
	height:480px;
	width:320px;
	margin:0 auto;
}
.PanelRow
{
	background:url("img/navBar.png");	
	height:40px;
	width:320px;
}

.GreyText
{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	color: #4C566C;
}

.TextBox
{
	margin-left:10px;
	font-size:16px;
}

/*Custom Datepicker*/
td.datePickerDay
{
	font-size:16px;	
}

.datePickerMonthSelector 
{ 
	display:none;
}
td.datePickerDayIsToday
{
	font-weight:bold;
	font-size:18px;
	background:#FF6827;
}
td.datePickerWeekdayLabel
{
	background: #ff6827;
	padding: 0px 4px 2px;
	cursor: default;
	color: white;
	font-size: 110%;
	font-weight: normal;
}
td.datePickerWeekendLabel
{
	background: #ff6827;
	padding: 0px 4px 2px;
	cursor: default;
	color: white;
	font-size: 110%;
	font-weight: normal;
}
