/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */

body {
font-family:verdana;
font-size:15px;
}

a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
}

#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
}

#boxes #dialog2 {
  background:url(images/notice.png) no-repeat 0 0 transparent; 
  width:326px; 
  height:229px;
  padding:50px 0 20px 25px;
}
.ToTheLeft
{
	margin-left:220px;	
}
.EventButton
{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #4C566C;
}
.DateLabel
{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	color: #4C566C;
	width:200px;
}
.Grey
{
	background:#EDEBEB;
}
.DarkGrey
{
	background:#D1CDCE;
}

/*To make image looks like button*/
.button
{
	border:solid 1px;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));	
	width: 40px;
	height: 30px;
}

.StarButton
{
	border:solid 1px;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));	
	width: 30px;
	height: 30px;
}

.button_pressed
{
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#C4C2C2),to(#E3E3E3));	
	width: 40px;
	height: 30px;
}

.Panel
{
	background:white;	
	height:480px;
	width:320px;
	margin:0 auto;
}
.NewPanel
{
	background:#FFF6E0;
}
.EachPanelEnd
{
	background:#FCBD6A;
}

.DetailPanel
{
	background-color: white;
	border: 1px solid #999;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	font-size: 16px;
	margin: 9px;
	padding: 12px 14px 10px 14px;
	
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #4C566C;
}

.EventDetailsPanel
{
	background:url("img/pinstripes.png");
	height:480px;
	width:320px;
	margin:0 auto;
}

.footer
{
	background:orange;	
	height:200px;
	width:320px;
}

.SettingPanel
{
	background:red;	
	height:480px;
	width:320px;
	margin:0 auto;
}
.PanelRow
{
	background:url("img/navBar.png");	
	height:40px;
	width:320px;
}

.GreyText
{
	font-family: Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px 0px 10px;
	color: #4C566C;
}

.TextBox
{
	margin-left:10px;
	font-size:16px;
}

/*Custom Datepicker*/
td.datePickerDay
{
	font-size:16px;	
}

.datePickerMonthSelector 
{ 
	display:none;
}
td.datePickerDayIsToday
{
	font-weight:bold;
	font-size:18px;
	background:#FF6827;
}
td.datePickerWeekdayLabel
{
	background: #ff6827;
	padding: 0px 4px 2px;
	cursor: default;
	color: white;
	font-size: 110%;
	font-weight: normal;
}
td.datePickerWeekendLabel
{
	background: #ff6827;
	padding: 0px 4px 2px;
	cursor: default;
	color: white;
	font-size: 110%;
	font-weight: normal;
}
